.bg-secondary{
    background-color: #f4f4f4!important;
}

#navbar1{
    background-color: #6D605F!important;
}

#navbar2 a.nav-link{
    color: #CD3C30!important;
}

#navbar2 a.nav-link:hover{
    color: #710914!important;
}